# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
torrProxy

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env

# Dependency directories
vendor/
log
main
.idea/vcs.xml
.idea/modules.xml
.idea/torrProxy.iml
.idea/go.imports.xml
.idea/.gitignore
